pipeline/copy_blob_Datalake_IFF.json
{
	"name": "copy_blob_Datalake_IFF",
	"properties": {
		"activities": [
			{
				"name": "checking the file",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Blob_population",
						"type": "DatasetReference"
					},
					"timeout": "0.00:03:00",
					"sleep": 30,
					"minimumSize": 1024
				}
			},
			{
				"name": "Get Metadata of file",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "checking the file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Blob_population",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"itemName",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "checking file details",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata of file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('Get Metadata of file').output.columnCount,10)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fail if file size not expected",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:10",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "hhtps://badbabgth",
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"body": "job failed"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy file blob to data lake_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:30",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "population//population_by_age.tsv.gz"
								},
								{
									"name": "Destination",
									"value": "raw/population/population_age.tsv"
								}
							],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Blob_population",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_datalake_population",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Delete blob file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "checking file details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Blob_population",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-23T06:12:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}